<p id="notice"><%= notice %></p>

<div class = "container">
  <!-- navigation bar -->
  <nav class="navbar navbar-light">
    <div class="navbar-brand">
      <%= image_tag ("412FoodRescue-logo-1.png") %>
    </div>
    <h1> Stimuli Testing </h1>
  </nav>

  <!-- Question Part -->

  <h1> Question <%= @question.question_num %> </h1>

  <div class = "choice">
    <%= simple_form_for(@question) do |f| %>
      <%= f.input :recipient_choice, label: "Choose Recipient", collection: ['Recipient A', 'Recipient B'], as: :radio_buttons %>
      <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
    <% end %>
  </div>

  <!-- upload donation type picture -->
  <%= image_tag (@question.getDonationTypePic), :class => "donation" %>

  <!-- need to fix this button soon -->
  <table class = "table">
    <thead>
      <tr>
        <th> Recipient A </th>
        <th> Recipient B </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 
          <%= image_tag (@recipientA.getSizeLinksPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getSizeLinksPic), :class => "imagePic"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag (@recipientA.getAccessLinksAPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getAccessLinksBPic), :class => "imagePic"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag (@recipientA.getIncomeLinksPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getIncomeLinksPic), :class => "imagePic"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag (@recipientA.getPovertyLinksPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getPovertyLinksPic), :class => "imagePic"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag (@recipientA.getLastDonationLinksPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getLastDonationLinksPic), :class => "imagePic"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag (@recipientA.getTotalDonationLinksPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getTotalDonationLinksPic), :class => "imagePic"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag (@recipientA.getDistLinksPic), :class => "imagePic"%>
        </td>
        <td>
          <%= image_tag (@recipientB.getDistLinksPic), :class => "imagePic"%>
        </td>
      </tr>
    </tbody>
  </table>
</div>