<p id="notice"><%= notice %></p>

<div class = "container">
  <!-- navigation bar -->
  <nav class="navbar navbar-light">
    <div class="navbar-brand">
      <%= image_tag ("412FoodRescue-logo-1.png") %>
    </div>
    <h1> Stimuli Testing </h1>
  </nav>
  <% if !@question.nil? %>

  <!-- Question Part -->

  <h1> Question <%= @question.question_num %> </h1>

  <!-- upload donation type picture -->
  <%= image_tag ("#{@question.getDonationTypePic}") %>

  <!-- need to fix this button soon -->
  <div class = "row">
    <div class = "col">
      <h2> Recipient A </h2>
    </div>
    <div class = "col">
      <h2> Recipient B </h2>
    </div>
  </div>

    <!-- organization size pic -->
  <div class ="row" >
    <div class = "col">
      <%= image_tag ("#{@recipientA.getSizeLinksPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getSizeLinksPic}") %>      
    </div>
  </div>

  <!-- food access level picture -->
  <div class ="row" >
    <div class = "col">
      <%= image_tag ("#{@recipientA.getAccessLinksAPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getAccessLinksBPic}") %>
    </div>
  </div>

  <!-- Income Level Picture -->
  <div class ="row">
    <div class = "col">
      <%= image_tag ("#{@recipientA.getIncomeLinksPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getIncomeLinks}") %>
    </div>
  </div>

  <!-- Poverty Level Picture -->
  <div class ="row">
    <div class = "col">
      <%= image_tag ("#{@recipientA.getPovertyLinksPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getPovertyLinksPic}") %>
    </div>
  </div>

  <!-- Last Donation Received Pic-->
  <div class ="row">
    <div class = "col">
      <%= image_tag ("#{@recipientA.getLastDonationLinksPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getLastDonationLinksPic}") %>
    </div>
  </div>

  <!-- Total Donation Received Pic -->
  <div class ="row">
    <div class = "col">
      <%= image_tag ("#{@recipientA.getTotalDonationLinksPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getTotalDonationLinksPic}") %>
    </div>
  </div>

  <!-- Travel Time Pics -->
  <div class ="row">
    <div class = "col">
      <%= image_tag ("#{@recipientA.getDistLinksPic}") %>
    </div>
    <div class = "col">
      <%= image_tag ("#{@recipientB.getDistLinksPic}") %>
    </div>
  </div>
  <% end %>
</div>
