
<div class = "container">
	<!-- Question Part -->
  	<h1 class = "questionNum"> Question <%= @question.question_num %> </h1>
	<!-- upload donation type picture -->
  	<h2 class = "DonationType"> Donation Type </h2>
    <p class = "donationExp"> Each donation is equal to a truck load of amount </p>
 	<%= image_tag (@question.getDonationTypePic), :class => "donation" %>

  <!-- Did not use bootstrap columns but used rows to separate sections -->
  <div class = "row">
    <div class = "contentA">
      <h2 class = "recTitle"> Recipient A </h2>
      <!-- draws a border around the images -->
      <div class = "picsA">
        <!-- draws a border at the bottom for the image -->
        <div class = "pic">
          <%= image_tag (@recipientA.getSizeLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientA.getAccessLinksAPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientA.getIncomeLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientA.getPovertyLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientA.getLastDonationLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientA.getTotalDonationLinksPic), :class => "imagePic"%>
        </div>
        <!-- not in class = "pic" because this should not draw the border at the bottom -->
        <%= image_tag (@recipientA.getDistLinksPic), :class => "imagePic"%>
      </div>
    </div>

    <div class = "contentB">
      <h2 class = "recTitle"> Recipient B </h2>
      <!-- draws a border around the images -->
      <div class = "picsB">
        <!-- draws a border at the bottom for the image -->
        <div class = "pic">
          <%= image_tag (@recipientB.getSizeLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientB.getAccessLinksAPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientB.getIncomeLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientB.getPovertyLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientB.getLastDonationLinksPic), :class => "imagePic"%>
        </div>
        <div class = "pic">
          <%= image_tag (@recipientB.getTotalDonationLinksPic), :class => "imagePic"%>
        </div>
        <!-- not in class = "pic" because this should not draw the border at the bottom -->
        <%= image_tag (@recipientB.getDistLinksPic), :class => "imagePic"%>
      </div>
    </div>
  </div>


  <div class = "row">
    <div class = "choice">
    	<h4 class = "choiceTitle"> Recipient Choice </h4>
  	  <%= simple_form_for(@question) do |f| %>
  	  	<%= f.input :recipient_choice, label: "", collection: ['Recipient A', 'Recipient B'], as: :radio_buttons %>
  	  	<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
    </div>
  </div>

  <div class = "row">
  	<div class = "otherButtons">
  	 	  <%= link_to 'End Session', results_path, class: 'btn btn-default', data: {confirm: 'Are you sure?'} %>
        <% end %>
  	</div>
  </div>

</div>

<script>
$(document).ready(function() {
    $('body').css('background-color', 'white');
    $('.my-navbar').css('background', '#f5f5f5');
});
</script>