
<div class = "container">
	<!-- Question Part -->
  	<h1> Question <%= @question.question_num %> </h1>
	<!-- upload donation type picture -->
  	<h2> Donation Type </h2>
 	<%= image_tag (@question.getDonationTypePic), :class => "donation" %>


  <div class = "row">
    <div class = "col-md-6 col-lg-6 col-sm-12">
      <h2 class = "recOption"> Recipient A </h2>
    </div>
    <div class = "col-md-6 col-lg-6 col-sm-12">
      <h2 class = "recOption"> Recipient B </h2>
    </div>

    <div class = "picsA">
      <div class = "pic">
        <%= image_tag (@recipientA.getSizeLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientA.getAccessLinksAPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientA.getIncomeLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientA.getPovertyLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientA.getLastDonationLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientA.getTotalDonationLinksPic), :class => "imagePic"%>
      </div>
      <%= image_tag (@recipientA.getDistLinksPic), :class => "imagePic"%>
    </div>

    <div class = "picsB">
      <div class = "pic">
        <%= image_tag (@recipientB.getSizeLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientB.getAccessLinksAPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientB.getIncomeLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientB.getPovertyLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientB.getLastDonationLinksPic), :class => "imagePic"%>
      </div>
      <div class = "pic">
        <%= image_tag (@recipientB.getTotalDonationLinksPic), :class => "imagePic"%>
      </div>
      <%= image_tag (@recipientB.getDistLinksPic), :class => "imagePic"%>
    </div>
  </div>

  <div class = "row">
    <div class = "choice">
    	<h4> Recipient Choice </h4>
  	  <%= simple_form_for(@question) do |f| %>
  	  	<%= f.input :recipient_choice, label: "", collection: ['Recipient A', 'Recipient B'], as: :radio_buttons %>
  	  	<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
    </div>
  </div>

  <div class = "row">
  	<div class = "otherButtons">
  	 	  <%= f.button :submit, 'End Session', class: 'btn btn-default', data: {toggle: "modal", target: "#endSessionModal"} %>
  	</div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="endSessionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Warning! </h5>
        </div>
        <div class="modal-body">
          Do you want to end the testing?
        </div>
        <div class="modal-footer">
          <%= f.button :submit, 'No', class: 'btn btn-secondary', data: {dismiss: 'modal'} %>
          <%= f.button :submit, 'Yes', class: 'btn btn-primary' %>
   <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('body').css('background-color', 'white');
    $('.my-navbar').css('background', '#f5f5f5');
});
</script>