
<div class="contents container d-flex align-items-center justify-content-center">
	<div class = "parent-div">
		<%= form_tag sessions_path do %>
		<!-- title --> 
		<div class="row">
			<h1 class = "title"> Help us make a fair allocation algorithm for 412 Food Rescue! </h1>
		</div>

		<!-- login form and explanation -->
		<div class="row">
			<!-- login form -->
			<div class= "col-md-6 align-self-center">
				<div class="form-login">
					<form>
						<% if logged_in? %>
							<h4 class = "loginTitle"> Already Logged In </h4>
							<p> First Name: <%= @user.first_name %> </p>
							<p> Last Name: <%= @user.last_name %> </p>
							<p> Email: <%= @user.email %> </p>
							<br>
							<div class = "wrapper">
								<%= link_to"Continue", new_question_path, :class => "btn btn-primary" %>
								<%= link_to "End Session", results_path, :class => "btn btn-danger" %>
							</div>
						<% else %>
							<h4 class = "loginTitle"> Get Started </h4>
							<%= text_field_tag :first_name, params[:first_name], placeholder: 'First Name', :class => "form-control input-sm chat-input" %>

							<%= text_field_tag :last_name, params[:last_name], placeholder: 'Last Name', :class  => "form-control input-sm chat-input" %>

							<%= text_field_tag :email, params[:email], placeholder: 'Email', :class => "form-control input-sm chat-input" %>
							<div class = "wrapper">
								<%= submit_tag "Start", :class => "btn btn-primary" %>
							</div>
						<% end %>
					</form>
				</div>
			</div>
			<!-- explanation page -->
			<div class = "goals col-md-6 align-self-center">
				<h4 class = "loginTitle"> Our Goals / Overview </h4>
				<p class = "goalsTxt"> We’re researchers from Carnegie Mellon University working with 412 Food Rescue. Staff at 412 Food Rescue manually determine where incoming donations should be sent, choosing from a long list of recipient organizations that help those in need like shelters or community food programs.  In the last two years the volume of donations handled by the organization has grown significantly, and as demand for the service has increased beyond staff capacity, they are seeking more efficient alternatives to determine where incoming donations should be sent. We’re partnering with 412 Food Rescue to build a computer algorithm (essentially a sequence of instructions that tells a computer what to do) to automate the donation allocation process. One of our goals is to keep donation allocation fair and equitable for the diverse community in need. </p>
				<p class = "goalsTxt"> As part of our research, we are talking to stakeholders of 412 Food Rescue such as donors, recipient organizations, volunteer drivers, and 412 Food Rescue employees to learn what they think is a fair allocation. Because there is no one right answer when it comes to making a “fair” algorithm that everyone can agree on, we want to use what you think is fair because you make this whole thing possible. </p>
			</div>
		</div>
		<% end %>
	</div>
</div>
