
<div class="contents container d-flex align-items-center justify-content-center">
	<div class = "parent-div">
		<%= form_tag sessions_path do %>
		<!-- title --> 
		<div class="row">
			<h1 class = "title"> Help us make an allocation algorithm fair! </h1>
		</div>

		<!-- login form and explanation -->
		<div class="row">
			<!-- login form -->
			<div class= "col-md-6 align-self-center">
				<div class="form-login">
					<form>
						<h4 class = "loginTitle"> Get Started </h4>
						<%= text_field_tag :first_name, params[:first_name], placeholder: 'First Name', :class => "form-control input-sm chat-input" %>

						<%= text_field_tag :last_name, params[:last_name], placeholder: 'Last Name', :class  => "form-control input-sm chat-input" %>

						<%= text_field_tag :email, params[:email], placeholder: 'Email', :class => "form-control input-sm chat-input" %>
						<div class = "wrapper">
							<%= submit_tag "Start", :class => "btn btn-primary" %>
						</div>
					</form>
				</div>
			</div>
			<!-- explanation page -->
			<div class = "goals col-md-6 align-self-center">
				<h4 class = "loginTitle"> Our Goals / Overview </h4>
				<p class = "goalsTxt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				<p class = "goalsTxt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
		<% end %>
	</div>
</div>
