<div class="container">
	<% if flash[:alert] %>
	<p id = "notice"><%=flash[:alert] %> </p>
	<% end %>
	<%= form_tag sessions_path do %>
	<div class="row">
		<div class="col-md-offset-5 col-md-3">
			<div class="form-login">
				<form>
					<h4> Welcome to Stimuli Testing </h4>
					<div>
						<div class="form-control input-sm chat-input"> <%= label_tag :first_name, 'First Name' %>
						<%= text_field_tag :first_name, params[:first_name] %></div>
						<div class="form-control input-sm chat-input">
							<%= label_tag :last_name, 'Last Name' %>
							<%= text_field_tag :last_name, params[:last_name] %>
						</div>
						<div class="form-control input-sm chat-input">
							<%= label_tag :email, 'Email' %>
							<%= text_field_tag :email, params[:email] %>
						</div>
						</br>
						<div class="wrapper">
							<span class="group-btn">
								<%= submit_tag "Start" %>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% end %>
</div>
