<div class = "container">
	<h1 class = "instructionTitle"> Instructions </h1>

	<p class = "instruction"> To learn what you think is fair, you’ll take on the role of a decision-maker for 412 Food Rescue and be presented with a series of donation scenarios. In each scenario, you’ll be shown two hypothetical recipient organizations with different factors. You will then have to decide which of the recipients will receive the donation. </p>

	<p class = "instruction"> This will take a longer time in the beginning. However, it should go faster once you get used to it. Once we learn your preferences, we’ll aggregate the fairness preferences to help improve a computer algorithm that can help 412 Food Rescue make fair donation allocations. </p>

	<div class = "factorExp">
		<h2 class = "factorTitle"> Factors </h2>

		<p class = "instruction"> There are several different factors used in each donation scenario. One of these is the type of donation, which will be categorized as either common or uncommon. The rest of these factors describe the recipient organizations: organization size, level of food access, level of food access, income level, poverty rate, travel time, last donation received, and total donations received. Each of the factors is described in depth below. You can reference these explanations at any time by clicking “Instructions” in the top right menu. </p>
	</div>

	<div class = "factorPics">
		<%= image_tag ("factor_common_don.png"), :class => "factor" %>
		<%= image_tag ("factor_lesscommon_don.png"), :class => "factor" %>
		<%= image_tag ("factor_size.png"), :class => "factor" %>
		<%= image_tag ("factor_access.png"), :class => "factor" %>
		<%= image_tag ("factor_income.png"), :class => "factor" %>
		<%= image_tag ("factor_poverty.png"), :class => "factor" %>
		<%= image_tag ("factor_distance.png"), :class => "factor" %>
		<%= image_tag ("factor_last_don.png"), :class => "factor" %>
		<%= image_tag ("factor_total_don.png"), :class => "factor" %>

		<%= form_tag instructions_path do %>
			<%= submit_tag "Start", :class => "my-btn btn btn-primary btn-lg" %>
		<% end %>
	</div>
</div>






